# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# Avoid accidental upload of the Sketch and Figma design files
*.sketch
*.fig
*.xd

.env

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local